*{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: center;
	margin: 0px;
	padding: 0px;
}
h1{
	font-family: "Arial Black", Gadget, sans-serif;
}
h2{
	font-family: "Arial Black", Gadget, sans-serif;
}