<div id="header_div">
	<a href="/">
		<h1>Super Smash Match-ups</h1>
	</a>
	<% if(session.user == undefined) { %>
		<a href="/login">Log In</a>
		<a href="/register">Register</a>
	<% }; %>
	<% if(session.user != undefined) { %>
		<a href="/characters">Character Select</a>
		<a href="/logout">Log Out</a>
		<p>Current User: <%= session.user.alias %></p>
	<% }; %>
</div>