<div id="header_div">
	<a href="/">
		<img src="/images/series_logo.png" alt="smash bros logo" id="header_logo">
	</a>
	<a href="/">
		<h1><span id="span1">Super</span> <span id="span2">Smash</span> <span id="span3">Match-ups</span></h1>
	</a>
	<% if(session.user == undefined) { %>
		<a href="/login">Log In</a>
		<a href="/register">Register</a>
	<% }; %>
	<% if(session.user != undefined) { %>
		<a href="/characters">Character Select</a>
		<a href="/logout">Log Out</a>
		<p id="current_user">Current User: <%= session.user.alias %></p>
	<% }; %>
</div>