<!DOCTYPE html>
<html>
<head>
	<title>SSB for Wii U - Character List</title>
</head>
<body>
	<h1>Super Smash Brothers Character List</h1>
	<%
		for(i=0; i<characters.length; i++){
			%>
				<a href="/characters/<%= characters[i].id %>">
					<div class="char_box">
						<img src="<%= characters[i].image %>" alt="<%= characters[i].name %>" height="75" width="75">
						<p><%= characters[i].name %></p>
					</div>
				</a>
			<%
		}
	%>
</body>
</html>