<!DOCTYPE html>
<html>
<head>
	<% include partials/head.ejs %>
	<title>SSB for Wii U - Character List</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/project.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/characters.css">
</head>
<body>
	<% include partials/header.ejs %>
	<div id="page_content">
		<h1>Choose a character to explore match-ups</h1>
		<%
			for(i=0; i<characters.length; i++){
				%>
					<div class="char_box">
						<a href="/characters/<%= characters[i].id %>">
							<img src="<%= characters[i].image %>" alt="<%= characters[i].name %>" height="75" width="75">
							<p><%= characters[i].name %></p>
						</a>
					</div>
				<%
			}
		%>
	</div>
</body>
</html>