<!DOCTYPE html>
<html>
<head>
	<title>SSB for Wii U - Character List</title>
</head>
<body>
	<h1>Super Smash Brothers Character List</h1>
	<%
		for(i=0; i<characters.length; i++){
			%><p><%= characters[i].name %></p><%
		}
	%>
</body>
</html>