<!DOCTYPE html>
<html>
<head>
	<title><%= selected_character_id %> - Character Info</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/project.css">
</head>
<body>
	<div id="characters_container">
		<% 
			for (i=0; i<characters.length; i++){
				if(characters[i].id == selected_character_id){
					%>
					<div id="base_character">
						<h1><%= characters[i].name %></h1>
						<img src="<%= characters[i].image %>" alt="character image">
					</div>
					<%
				}
				else{
					%><p><%= characters[i].name %></p><%
				}
			}
		%>
	</div>
</body>
</html>