<!DOCTYPE html>
<html>
<head>
	<% include partials/head.ejs %>
	<title>Super Smash Match-Ups - SSB for Wii U</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/project.css">
</head>
<body>
	<% include partials/header.ejs %>
	<h1>Home Page</h1>
	<% if(errors != [] && errors != undefined) { %>
		<% for(var i=0; i<errors.length; i++){ %>
			<p class="error_message"><%= errors[i] %></p>
		<% } %>
	<% } %>
</body>
</html>