<!DOCTYPE html>
<html>
<head>
	<% include partials/head.ejs %>
	<title>Login Page</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/project.css">
</head>
<body>
	<% include partials/header.ejs %>
	<div id="page_content">
		<h1>Please Log In</h1>
		<% if(errors != []) { %>
			<% for(var i=0; i<errors.length; i++){ %>
				<p class="error_message"><%= errors[i] %></p>
			<% } %>
		<% } %>
		<form action="/sessions" method="post">
			<input type="text" name="email" placeholder="E-mail Address">
			<input type="password" name="password" placeholder="Password">
			<input type="submit" value="Log In">
		</form>
	</div>
</body>
</html>