<!DOCTYPE html>
<html>
<head>
	<title>Match-Up Discussion Page</title>
</head>
<body>
	<h1>Single match-up page</h1>
	<p><%= JSON.stringify(matchup_data[0]) %></p>
	<div id="char_1_div">
		<h2>Character 1</h2>
		<h3><%= base_char_id %></h3>
	</div>
	<div id="char_2_div">
		<h2>Character 2</h2>
		<h3><%= %></h3>
	</div>
</body>
</html>